{% extends 'student/base.html' %}
{% load staticfiles %}
 {% block maincontent  %}

<div class="right_col" role="main">
<div class="container">
  <h2>Student information Table</h2>

   <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4 text-right">
               
            <a href="{%url 'add_studentclass' %}" class="btn btn-primary btn ">Add Student class</a>  
            </div>
            </div>
      <div class="table-responsive">   
  <table class="table">
    <thead>
      <tr>
        <th>class_name</th>
       
      </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr>
        <td>{{obj.class_name}}</td>
       
        <td>
                            <div class="btn-group">
                                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-xs btn-danger dropdown-toggle" type="button">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul role="menu" class="dropdown-menu">
                                  
                                    <li><a href="{% url "edit-student-class" obj.id %}">Edit Student Class</a></li>
                                    <li><a href="{% url "view-student-class" obj.id %}">View Student Class</a></li>                      
                                    
                                </ul>
                            </div>
                        </td>
    
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
</div>


{% endblock %}